ORA_SDTZ="UTC"
PORT=3000
NODE_ENV="production"
LOG_LEVEL="info"
DB_TYPE="mysql"
DB_NAME="replace with database name"
DB_HOST_NAME="replace with database hostname/IP"
DB_PORT=replace with port number
DB_USER="replace with database username"
DB_PASSWORD="replace with database user password"
MAIL_USERNAME="replace with mail notification username"
MAIL_PASSWORD="replace with mail notification user password"
JWT_SECRET="replace with strong JWT secret"
TEST_PASSWORD="password"
